<form action="/register" method="POST">
    <label for="name">Username:</label>
    <input type="text" name="username"><br>

    <label for="name">Password:</label>
    <input type="password" name="password"><br>

    <label for="name">First name:</label>
    <input type="text" name="firstName"><br>

    <label for="name">Last name:</label>
    <input type="text" name="lastName"><br>

    <input type="submit" value="Register">
</form>